{% extends 'budget_app/base.html' %}
{% load static %}
{% block content %}

<!-- <style>
    form > ul > li.category {
        display: inline-block;
        padding: 5px 10px;
        background-color: #fff;
        margin-right: 5px;
    }
</style> -->



    <div class="container">
        <form action="" method="POST">
            {% csrf_token %}
            {{ form }}
            <label for="categoryInput">
                Expense Categories (hit enter after every category)
            </label>
            <input type="text" name="categoryInput" id="categoryInput">
            <input type="hidden" name="categoryString">

            <ul id="categoriesContainer">
               
            </ul>
            <button class="btn" type="submit">Start Project</button>
        </form>
    </div>

    <script src="{% static 'js/main.js' %}"></script>

{% endblock %}